@font-face {
    font-family: 'Mrs Sheppards';
    font-style: normal;
    font-weight: 400;
    src: local('Mrs Sheppards Regular'), local('MrsSheppards-Regular'), url(2WFsWMV3VUeCz6UVH7UjCnt9r5m2YmP5sw3cUAQwL0E.woff) format('woff');
}