.uk-progress-bar {
    border-radius: 30px;
}

.uk-progress {
    height: 50px;
    border-radius: 30px;
}

#VS {
    text-align: center;
}

.uk-container {
    margin-top: 200px;
}

span {
    margin: 17px;
}
